<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="myAutomationProject">
<listeners>
<listener class-name="com.myAutomationProject.Utilities.Reporting">
</listener>

</listeners>

   <test name="ebanking">
      <parameter name="browser" value="chrome"/>
        <classes>
           <class name="com.myAutomationProject.TestCases.TestCase_01"/>
        </classes>
    </test>
</suite>